@media only screen and (max-width: 600px) {
  body {
      font-size: 24px;
      background-color: white;
  }
  #container {
      width: 100%;
      line-height: 1.6;
      text-align: center;
      display: inline-block;

  }
  ul {
      list-style-type: none;
      text-align: center;
      padding: 0px;
      font-family: 'Lato', sans-serif;
      color: black;
      line-height: 1.6;
  }
  a {
      border-bottom: 2px solid black;
      text-align: justify;
  }
  a:link {
      text-decoration: none;
      color: black;
      font-weight: bolder;
  }
  a:hover {
      font-size: 150%;
      transition-delay: 0.1s;
      background-color: yellow;
  }
  .header {
      background-color: lightgrey;
      color: black;
      font-weight: 100;
      font-family: 'Abril Fatface', cursive;
      letter-spacing: 0.8px;
  }
  .disclaimer {
      font-size: 0.60em;
      width: 100%;
      text-align: center;
      text-indent: 50px;
      padding: 0px;
      font-family: 'PT Sans', sans-serif;
  }
  h4 {
      text-align: center;
      font-size: bold;
      letter-spacing: 0.3px;
      font-weight: 700;
  }
  .body {
      font-size: 0.8em;
      background-color: white;
  }
  p {
      text-align: justify;
      text-indent: 50px;
      padding-left: 50px;
      padding-right: 50px;
      font-family: 'Lato', sans-serif;
      color: black;
      font-weight: bold;
  }
}
@media only screen and (min-width: 601px) {
  body {
      font-size: 28px;
      background-color: white;
  }
  #container {
      width: 100%;
      line-height: 1.6;
      text-align: center;
      display: inline-block;

  }
  ul {
      list-style-type: none;
      text-align: center;
      padding: 0px;
      font-family: 'Lato', sans-serif;
      color: black;
      line-height: 1.6;
      font-size: 1.2em;
  }
  a {
      border-bottom: 2px solid black;
      text-align: justify;
  }
  a:link {
      text-decoration: none;
      color: black;
      font-weight: bolder;
  }
  a:hover {
      font-size: 170%;
      transition-delay: 0.1s;
      background-color: yellow;
      color: white;
  }
  a:visited {
      color: black;
  }
  .header {
      background-color: lightgrey;
      color: black;
      font-weight: 100;
      font-family: 'Abril Fatface', cursive;
      letter-spacing: 0.8px;
      float: center;
      margin-left: 50px;
      margin-right: 50px;

  }
  .disclaimer {
      font-size: 0.60em;
      width: 100%;
      text-align: center;
      text-indent: 50px;
      padding: 0px;
      font-family: 'PT Sans', sans-serif;
      position: relative;
      margin-left: 20px;
      margin-right: 20px;
  }
  h4 {
      text-align: center;
      font-size: bold;
      letter-spacing: 0.3px;
      font-weight: 700;
  }
  .body {
      font-size: 0.8em;
      background-color: white;
  }
  p {
      text-align: justify;
      text-indent: 55px;
      font-family: 'Lato', sans-serif;
      color: black;
      font-weight: bold;
      font-size: 0.8em;
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 150px;
      padding-right: 150px;
  }
}
