@media only screen and (max-width: 767px) {
    body {
      margin: 0;
      font-size: 18px;
      line-height: 1.6;
}
    #container {
      width: 100%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .title {
      font-size: 1.25em;
      text-align: center;
      font-family: 'EB Garamond', serif;
      opacity: 0.8;
    }
    .titleimg img {
      width: 100vw;
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper {
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper img{
      width: 100vw;
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
          ),
          url(../images/cartagena.jpg);
      background-size: cover;

    }
    .center {
      position: absolute;
      margin-top: -40%
    }
    .center h3{
      text-align: center;
      font-size: 3em;
      color: white;
      font-weight: 600;
    }
    img {
      width: 100%;

    }
    h3 {
      text-align: center;
      padding-top: 10px;
      font-family: 'EB Garamond', serif;
      font-size: 2em;
      opacity: .85;
    }
    h5 {
      opacity: .75;
    }
    p {
      text-align: justify;
      text-indent: 35px;
      margin-left: 100px;
      margin-right: 100px;
      font-family: 'EB Garamond', serif;
      color: 	#999999;
    }
    .txtcolumn {
      width: 34em;
      margin: 0 auto;
      max-width: 100%;
    }
    h5 {

    }
}





@media only screen and (max-width: 1023px) {
    body {
      margin: 0;
      font-size: 18px;
      line-height: 1.6;
}
    #container {
      width: 100%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .title {
      font-size: 1.25em;
      text-align: center;
      font-family: 'EB Garamond', serif;
      opacity: 0.8;
    }
    .titleimg img {
      width: 100vw;
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper {
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper img{
      width: 100vw;
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
          ),
          url(../images/cartagena.jpg);
      background-size: cover;

    }
    .center {
      position: absolute;
      margin-top: -40%
    }
    .center h3{
      text-align: center;
      font-size: 3em;
      color: white;
      font-weight: 600;
    }
    img {
      width: 100%;

    }
    h3 {
      text-align: center;
      padding-top: 10px;
      font-family: 'EB Garamond', serif;
      font-size: 2em;
      opacity: .85;
    }
    h5 {
      opacity: .75;
    }
    p {
      text-align: justify;
      text-indent: 35px;
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'EB Garamond', serif;
      color: 	#999999;
    }
    .txtcolumn {
      width: 34em;
      margin: 0 auto;
      max-width: 100%;
    }
    h5 {

    }
}






@media only screen and (max-width: 1439px) {
    body {
      margin: 0;
      font-size: 18px;
      line-height: 1.6;
}
    #container {
      width: 100%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .title {
      font-size: 1.25em;
      text-align: center;
      font-family: 'EB Garamond', serif;
      opacity: 0.8;
    }
    .titleimg img {
      width: 100vw;
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper {
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper img{
      width: 100vw;
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
          ),
          url(../images/cartagena.jpg);
      background-size: cover;

    }
    .center {
      position: absolute;
      margin-top: -40%
    }
    .center h3{
      text-align: center;
      font-size: 3em;
      color: white;
      font-weight: 600;
    }
    img {
      width: 100%;

    }
    h3 {
      text-align: center;
      padding-top: 10px;
      font-family: 'EB Garamond', serif;
      font-size: 2em;
      opacity: .85;
    }
    h5 {
      opacity: .75;
    }
    p {
      text-align: justify;
      text-indent: 35px;
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'EB Garamond', serif;
      color: 	#999999;
    }
    .txtcolumn {
      width: 34em;
      margin: 0 auto;
      max-width: 100%;
    }
    h5 {

    }
}







@media only screen and (min-width: 1440px) {
    body {
      margin: 0;
      font-size: 18px;
      line-height: 1.6;
}
    #container {
      width: 100%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .title {
      font-size: 1.25em;
      text-align: center;
      font-family: 'EB Garamond', serif;
      opacity: 0.8;
    }
    .titleimg img {
      width: 100vw;
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper {
      float: left;
      margin-bottom: 80px;
    }
    .content-wrapper img{
      width: 100vw;
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
          ),
          url(../images/cartagena.jpg);
      background-size: cover;

    }
    .center {
      position: absolute;
      margin-top: -40%
    }
    .center h3{
      text-align: center;
      font-size: 3em;
      color: white;
      font-weight: 600;
    }
    img {
      width: 100%;

    }
    h3 {
      text-align: center;
      padding-top: 10px;
      font-family: 'EB Garamond', serif;
      font-size: 2.5em;
      opacity: .85;
    }
    h5 {
      opacity: .75;
    }
    p {
      text-align: justify;
      text-indent: 35px;
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'EB Garamond', serif;
      color: 	#999999;
    }
    .txtcolumn {
      width: 34em;
      margin: 0 auto;
      max-width: 100%;
    }
    h5 {

    }
}
