@media only screen and (min-width: 401px) {
body {
    background-color: beige;
}
#container {
    margin: auto;
    width: 200px;
    height: 500px;
}
.happy {
    display: none;
}
.halloween {
    display: none;
}
.responsive {
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    color: black;
    font-family: 'Sigmar One', cursive;
    font-size: 15px;
}
.head {
    width: 200px;
    height: 200px;
    background-color: #fdfffc;
    position: absolute;
    top: 250px;
    border-radius: 100% 100% 80% 80%;
}
.jaw {
    width: 140px;
    height: 100px;
    background-color: #fdfffc;
    position: absolute;
    top: 367px;
    border-radius: 80% 80% 20% 20%;
    margin-left: 30px;
}
.lefteye {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 75px;
    left: 40px;
    border-radius: 100% 100% 100% 60%;
}
.righteye {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 75px;
    right: 40px;
    border-radius: 100% 100% 60% 100%;
}
.nose {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 12px;
    left: 60px;
    border-radius: 90% 90% 65% 65%;
}
.gap1 {
    width: 15px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 30px;
    border-radius: 50% 50% 0% 0%;
}
.gap2 {
    width: 15px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 60px;
    border-radius: 50% 50% 0% 0%;
}
.gap3 {
    width: 15px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 90px;
    border-radius: 50% 50% 0% 0%;
}
.nose2 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 15px solid #fdfffc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 23px;
    left: 63px;
}
}
@media only screen and (max-width: 400px) {
body {
    background-color: black;
}
#container {
    margin: auto;
    width: 200px;
    height: 500px;
}
.happy {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
}
.halloween {
    text-align: center;
    margin-top: 200px;
    color: white;
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
}
.head {
    width: 200px;
    height: 200px;
    background-color: #fdfffc;
    position: absolute;
    top: 250px;
    border-radius: 100% 100% 80% 80%;
}
.jaw {
    width: 140px;
    height: 100px;
    background-color: #fdfffc;
    position: absolute;
    top: 367px;
    border-radius: 80% 80% 20% 20%;
    margin-left: 30px;
}
.lefteye {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 75px;
    left: 40px;
    border-radius: 100% 100% 100% 60%;
}
.righteye {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 75px;
    right: 40px;
    border-radius: 100% 100% 60% 100%;
}
.nose {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 12px;
    left: 60px;
    border-radius: 90% 90% 65% 65%;
}
.gap1 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 15px solid orange;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 85px;
    left: 30px;
}
.gap2 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 15px solid orange;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 85px;
    left: 60px;
}
.gap3 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 15px solid orange;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 85px;
    left: 90px;
}
.nose2 {
    width: 0px;
    height: 0px;
    position: absolute;
    border-bottom: 15px solid #fdfffc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 23px;
    left: 63px;
}
.responsive {
    display: none;
}
}
